.ProseMirror > * + * {
    margin-top: 0.75em;
}

.mention {
    color: blue;
}
.ProseMirror p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

mark {
    background-color: red;
    border-radius: 0.25em;
    box-decoration-break: clone;
    padding: 0.125em 0;
}
