@tailwind base;
@tailwind components;
@tailwind utilities;

/* For making the scrollbar curvy */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 0.75rem;
}

::-webkit-scrollbar-track {
    border-radius: 0.75rem;
}
.blurhash-shimmer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent 0%, rgba(28, 25, 25, 0.1) 20%, transparent 40%);
    animation: shimmer-animation 1s infinite;
}

@keyframes shimmer-animation {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
